body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
header {
    display: flex;
    background-color: #FFFFFF;
}
/* /////////////////////////////////////////////////////////////////////// MENU */
.menu {
    padding-right: 10%;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Anton', sans-serif;
    color: #5dcb89;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-item-modificado {
    display: flex;
    align-items: center;
}
.patas {
    position: relative;
    top: -10px;
}
.box-logo {
    width: 50%;
    display: flex;
    align-items: center;
}
.logo {
    width: 30%;
    padding-left: 10%;
}
/* /////////////////////////////////////////////////////////////////////// MENU */

/* /////////////////////////////////////////////////////////////////////// PART 1 */

.sessao-inicio {
    background-image: url(./img/dog-838281_1920.png);
    background-size: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

}
.barra-lateral {
    margin: 0;
    padding: 0;
    width: 9%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.caixa-logo-inicio {
    margin: 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.barrinha {
    width: 1px;
    height: 20vh;
    background-color: red;
}
.email-inicio {
    margin: 0;
    font-family: 'Anton', sans-serif;
    padding-top: 2rem;
    writing-mode: vertical-lr;
}
/* /////////////////////////////////////////////////////////////////////// PART 1 */

.atividades-adote {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-adote {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    font-size: 3rem;
    text-align: center
}
.caixa-texto-adote {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-adote {
    width: 45%;
    font-family: 'Anton', sans-serif;
    font-size: 1.1rem;
}
.caixa-botao-informacao {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.botao-informacao {
    width: 35%;
    height: 8vh;
    border: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background-color: #5dcb89;
    color: #FFFFFF;
}
.botao2-informacao {
    width: 55%;
    height: 8vh;
    border: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background-color: #FFFFFF;
    color: #5dcb89;

}
/* /////////////////////////////////////////////////////////////////////////////////////// PART 2 */

.sessao-informacao {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-informacao {
    font-family: 'Anton', sans-serif;
    color: #5dcb89;
    margin: 0;
    width: 28%;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
}
.caixa-texto-informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-informacao {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    width: 70%;
}
.caixa-botao-voluntario {
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botao-voluntario {
    width: 35%;
    height: 8vh;
    border: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    background-color: #5dcb89;
    color: #FFFFFF;
}
.foto-sobre {
    z-index: 1;
    position: relative;
    top: 5rem;
    left: 0rem;
}
.moldura-1 {
    z-index: 2;
    position: absolute;
    left: 65rem;
    top: 40rem;
}
.moldura-2 {
    z-index: 3;
}

/* //////////////////////////////////////////////////////////////////////// PART 3 */

.sessao-adote {
    background-image: url(./img/Retângulo\ 6.svg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.atividades-adote2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titulo-sobre {
    font-family: 'Anton', sans-serif;
    color: #FFFFFF;
    margin: 0;
    width: 52%;
    height: 7rem;
    font-size: 3rem;
    display: flex;
    align-items: center;

}
.caixa-texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-sobre {
    font-size: 1rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 50%;
}
.caixa-img-sobre {
    display: flex;
}
.caixa-slide {
    width: 90%;
    display: flex;
    justify-content: center;
}
.foto-slide {
    width: 100%;
}
.slide{
    width: 20%;
}

